<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./components/head') %>

<body>
    <header>
        <h1>Filmes</h1>
        <%- include('./components/nav') %>
    </header>
    <main>
        <div class="container">
            <span><% if(message != ""){ message } %></span>
            <form method="POST" action="/deletar/<%= filme.id %>">
                <div class="item">
                    <h2>Dejesa realmente deletar?</h2>
                    <span class="delecao"> <%= filme.nome %> 
                    </span>
                </div>
                <div class="item">
                    <img src="<%= filme.imagem %>" alt="capa do filme">
                </div>
                <div class="item">
                    <a href="/filmes/<%= filme.id %>" class="cancelar">Cancelar</a>
                    <button type="submit">Confirmar Exclusão</button>
                </div>
                
            </form>
        </div>
    </main>
    
        <%- include('./components/footer') %>
   
    <script src="/js/script.js"></script> 
</body>
</html>