<!DOCTYPE html>
<html lang="pt-br">
    
    <%- include('./components/head') %>

<body>
    <header>
        <h1>Filmes</h1>
        <%- include('./components/nav') %>
    </header>
    <main>
        <div class="container">
            <% filmes.forEach(item => { %>
                <div class="item">
                    <h2><%= item.nome %></h2>
                    <p><%= item.descricao %></p>
                    <a href="/filmes/<%= item.id %>"><img src="<%= item.imagem %>" alt="capa do filme"></a>
                </div>
            <% }) %>
        </div>
    </main>
    
    <%- include('./components/footer') %>
   
    <script src="./js/script.js"></script>
</body>
</html>