<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head') %>

  <body>
    <header>
      <h1>Catalogo de Filmes</h1>
      <%- include('./components/nav') %> 
      <% if(message != "") { %>
      <%-include('./components/alerts') %> 
      <% } %>
    </header>

    <main>
      <!-- comparação para ver se acha o filme na pesquisa, por isso o uso do if e else -->
      <% if (filmeSearch.length == 0){ %>
      <div class="container">
        <% filmes.forEach((filme) => { %>
        <div class="item">
          <h2><%= filme.nome %></h2>
          <p><%= filme.descricao %></p>
          <a href="/filmes/<%= filme.id %>"
            ><img src="<%= filme.imagem %>" alt="capa do filme"
          /></a>
        </div>
        <% }) %>
      </div>

      <% } else { %>
      <section class="result">
        <div id="result-search-space">
          <h2>Resultados da Pesquisa</h2>
          <a href="/">Todos os filmes</a>
        </div>
      </section>

      <div class="container">
        <% filmeSearch.forEach((filme) => { %>
        <div class="item">
          <h2><%= filme.nome %></h2>
          <p><%= filme.descricao %></p>
          <a href="/filmes/<%= filme.id %>"
            ><img src="<%= filme.imagem %>" alt="capa do filme"
          /></a>
        </div>
        <% }) %>
      </div>
      <% } %>
    </main>

    <%- include('./components/footer') %>

    <script src="./js/script.js"></script>
  </body>
</html>
